<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}"
        fileName="${basedir}/logs/ADSync.txt"
        archiveFileName="${basedir}/logs/archive/ADSync.{#}.txt"
        maxArchiveDays="30"
        archiveEvery="Day"
        archiveNumbering="Date"
        archiveDateFormat="yyyyMMdd" />  
    <target name="auditLogFile" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message}"
        fileName="${basedir}/logs/ADSyncAuditLog.txt"
        archiveFileName="${basedir}/logs/archive/ADSyncAuditLog.{#}.txt"
        maxArchiveDays="30"
        archiveEvery="Day"
        archiveNumbering="DateAndSequence"
        archiveAboveSize="1048576"    
        archiveDateFormat="yyyyMMdd" />  
  </targets>

  <rules>
    <logger name="ErrorLog" minlevel="Info" writeTo="file" />
    <logger name="AuditLog" minlevel="Info" writeTo="auditLogFile" />
  </rules>
</nlog>
